<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link th:href="@{/assets/css/style2.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/normalize.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/vendor.css}" rel="stylesheet"/>
</head>
<body>
<footer id="footer" style="
    background: aqua;
    height: auto;
    width: 100%;
    margin: auto;
">
    <div class="container" style="display:block;">
        <div class="row">
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="footer-menu">
                    <a href="/home">
                        <img style="max-width: 250px; max-height: 200px" src="/images/logo-nobackground.png" alt="logo" class="img-fluid">
                    </a>
                    <div class="social-links mt-4">
                        <ul class="d-flex list-unstyled ">
                            <li class="me-4">
                                <a href="#">
                                    <svg class="social-icon" width="30" height="30" aria-hidden="true">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="me-4">
                                <a href="#">
                                    <svg class="social-icon" width="30" height="30" aria-hidden="true">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="me-4">
                                <a href="#">
                                    <svg class="social-icon" width="30" height="30" aria-hidden="true">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="me-4">
                                <a href="#">
                                    <svg class="social-icon" width="30" height="30" aria-hidden="true">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="me-4">
                                <a href="#">
                                    <svg class="social-icon" width="30" height="30" aria-hidden="true">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 my-3">
                <div class="footer-menu">
                    <h5 class=" fw-bold mb-4">Quick Links</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Home</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">About us</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Courses</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Blogs</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 my-3">
                <div class="footer-menu">
                    <h5 class=" fw-bold mb-4">About</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">How It Works</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Pricing</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Promotion</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Affilation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 my-3">
                <div class="footer-menu">
                    <h5 class=" fw-bold mb-4">Help Center</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Payments</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">FAQs</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Checkout</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">Other</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 my-3">
                <div class="footer-menu">
                    <h5 class=" fw-bold mb-4">Contact Us</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">contact@yourcompany</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">+110 4587 2445</a>
                        </li>
                        <li class="menu-item mb-2">
                            <a href="#" class="footer-link">New York, USA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>